{
  "parser": "babel-eslint",
  "extends": "react",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "max-len": ["error", { "code": 4155 }]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}